.main-content {
    border-right: 1px dotted;
    border-color: rgb(245, 11, 170);
}
.side-bar {


}

/* styling to do with the HEADER */
.page-header {
    margin: 0px
}
.header {
    margin-top: 0px;
    padding: 20px 15px 45px;
    font-family: Helvetica;
    background-image: url("/assets/images/blog-image-resize.jpg");
}
.header h1 {
    color: white;
    padding: 20px 40px;
}

/*.navbar-inner {*/
    /*border-bottom: 1px solid rgb(245, 11, 170);*/
    /*background-color: rgb(245, 11, 170);*/
    /*-webkit-border-radius: 0px;*/
/*}*/
.navigation {
    min-height: 45px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #E9E9E9;
    border-bottom: 1px solid rgb(245, 11, 170);
}
.navigation .brand {
    display: block;
    float: left;
    font-size: 20px;
    padding: 10px 20px 10px;
    margin-left: 40px;
    font-weight: 400;
    color: #333;
    text-shadow: 0 1px 0 #fff;
}
.brand:hover {
    text-decoration: none;
    color: rgb(245, 11, 170);
 }
.navbar {
     margin-bottom: 0px
 }
.brand {
    padding-left: 60px
}
.navigation p {
    padding: 10px 20px 0px;
    color: #999;
}
/*.navigation {*/
    /*border-color: white;*/
    /*background-color: rgb(245, 11, 170);*/
/*}*/
/*.navigation a {*/
    /*font-color: rgb(50, 3, 61);*/
/*}*/
.blogs  {
    list-style: none;
    margin: 0px;

}
.blogs li {
    border-bottom: 2px dotted rgb(245, 11, 170);
}

.row-content {
    padding: 0px 20px;
    background-color: #ffffff;
}

.main-content {
    background-color: white;
}

.blog-heading {
    padding: 25px 0 20px;
    font-weight: 200;
}

.blog-heading h2 {
    font-weight: 500;
}
.blog-body h2 {
   padding: 10px 0;
   color: #333;

}

.side-bar h3 {
    font-weight: 500;
    color: #333;

}

.blog-heading a{
   color: #333;
   text-decoration: none;

}

.blog-body p{
    padding: 5px 0 5px 0;
}

.row-content p {
    line-height: 24px;
    font-size: 15px;
    font-family: "Adelle Sans Regular", sans-serif;
    color: #333;
}

.side-bar a {
    text-decoration: underline;
    color: rgb(245, 11, 170);
}


.blog-body a {
    text-decoration: underline;
    color: rgb(245, 11, 170);
}


.blog-body {
    padding-bottom: 25px;
}

.side-bar-left p {
    line-height: 20px;
    font-size: 16px;
    display: block;
    color: #999;
    padding: 60px 0;
    font-weight: 200;
}

.main-content a:hover{
    color: rgb(245, 11, 170);
    text-decoration: none;
}
.more-content {
    padding: 20px 100px 0 40px;

}

.blog-heading .time {
    line-height: 20px;
    font-size: 16px;
    display: block;
    color: #999;
}

.side-bar {
    padding: 40px 0;
}

.side-bar p {
    font-size: 16px;
    line-height: 23px;
    font-family: "Adelle Sans Regular", sans-serif;
    color: #333;
    padding: 5px 0;
}

.side-bar h2 {
    font-weight: 500;
    color: #333;
    padding: 5px 0;
}
.avatar {
    width: 110px;
}