/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    border-top: 2px solid rgb(245, 11, 170);
    font-family: "Adelle Sans Regular", sans-serif;
    color: #333;

}

h1, h2 {
    font-weight: 500;
}
h1 { margin-bottom: 1em; font-size: 215%}
p {
    padding: 5px 0 5px 0;
    line-height: 28px;
    font-size: 16px;
}

a         { color: rgb(245, 11, 170); text-decoration: underline;}
a:hover   { color: rgb(245, 11, 170); }
a:visited { color: rgb(245, 11, 170); }

ul {
    margin: 0;
    padding: 0 0 20px 0;
}

.web-icons li {
    display:inline;
    margin-right: 20px;
}
.web-icons ul {
    margin: 0;
    padding-top: 20px;
}

.navigation {
    min-height: 45px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #E9E9E9;
    border-bottom: 1px solid rgb(245, 11, 170);
}
.navigation .brand {
    display: block;
    float: left;
    font-size: 25px;
    padding: 10px 20px 10px;
    font-weight: 400;
    text-shadow: 0 1px 0 #fff;
    padding-left: 60px;
}
.brand:hover {
    text-decoration: none;
    color: rgb(245, 11, 170);
 }

.blogs  {
    list-style: none;
    margin: 0px;

}
.blogs li {
    border-bottom: 1px dotted rgb(245, 11, 170);
    padding-top: 20px
}

.blogs > li:first-child {
    padding-top: 0px;
}

.blogs > li:last-child {
    border-bottom: None;
}

.all-content {
    padding: 0px 20px;
}

.blog-heading {
    padding: 0 0 20px;
    font-weight: 200;
}

.blog-body h2 {
   padding: 0 0 10px 0;
}

.side-bar h1 a:hover {
    color: rgb(245, 11, 170);
}
.side-bar h1 a {
    text-decoration: none;
    color: #333;
}

.side-bar li a {
    text-decoration: none;
}

.blog-heading a{
   color: #333;
   text-decoration: none;
}

.blog-body a {
    text-decoration: underline;
    color: rgb(245, 11, 170);
}

.read-on .non-icon a {
    font-size: 16px;
    left:50%;
    position: absolute;
    margin-left: -10px;
   }

.read-on .left {
    left: 0;
    position: absolute;
}
.read-on .right {
    right: 0;
    position: absolute;
}
.read-on {
    position: relative;
    width: 100%;
    height: 35px;
    padding-top: 10px;

}
.read-more {
    padding-bottom: 20px;
}
.read-on .icon a {
    text-decoration: none;
    color: rgb(245, 11, 170);
    font-size: 23px;
}


.blog-heading a:hover{
    color: rgb(245, 11, 170);
    text-decoration: none;
}
.blog-content {
    padding: 0px 100px 0px 0;
    min-height: 600px
}
.grey-text {
    line-height: 25px;
    font-size: 18px;
    display: block;
    color: #999;
}
.footer .grey {
    font-size: 13px;
    line-height: 17px;
}


.side-bar {
    line-height: 28px;
    font-size: 16px;
}

.all-content {
    padding-top: 60px;
    padding-bottom: 20px;
}

.avatar {
    width: 125px;
    margin-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;

}

.footer {
    border-top: 1px solid rgb(245, 11, 170);
    padding: 10px 20px 0 20px ;
}

.footer a {
    text-decoration: underline;
    color: rgb(245, 11, 170);
}