@(blogs: List[Blog])
@import myApp._
@main {

    <ul class="blogs">
        @blogs.map { blog =>
        <li>
            <div class="blog-heading">
                <h2><a href="/blog/@blog.slug">@blog.title</a></h2><span class="date-text">@formatTest(blog.createdOn)</span>
            </div>
            <div class="blog-body">
                @Html(stripBody(blog.body))...
                <div class="read-more">
                    <p><a href="/blog/@blog.slug">Read more →</a></p>
                </div>
            </div>
        </li>
        }
    </ul>
}