@(blog: Blog, prev: Option[Blog], next: Option[Blog])
@import myApp._
@main {
        <div class="blog-heading">
            <h2>@blog.title</h2><span class="grey-text">@formatTest(blog.createdOn)</span>
        </div>
        <div class="blog-body">
            @Html(blog.body)
        </div>
          <div class="read-on">
              <span class="icon left">
                  @if(prev.isDefined) {
                 <a href="/blog/@prev.get.slug" title="@prev.get.title"><i class="icon-long-arrow-left"></i></a>
                  }
              </span>
              <span class="non-icon">
                 <a href="/blogs">all blogs</a>
              </span>

              @if(next.isDefined) {
              <span class="icon right">
                  <a href="/blog/@next.get.slug" title="@next.get.title"><i class="icon-long-arrow-right"></i></a>
              </span>
              }

          </div>
    }