 @(blogs: List[Blog])
@import myApp._
@main {

    <ul class="blogs">
        @blogs.map { blog =>
        <li>
            <div class="blog-heading">
                <h1><a href="/blog/@blog.slug">@blog.title</a></h1><span class="grey-text">@formatTest(blog.createdOn)</span>
            </div>
            <div class="blog-body">
                @Html(stripBody(blog.body))...
                <div class="read-on">
                    <p><a href="/blog/@blog.slug">read more</a></p>
                </div>
            </div>
        </li>
        }
    </ul>
}