 @(blogs: List[Blog])
@import myApp._
@main {

 @blogs.map { blog =>
    <ul class="blogs">
        <li>
            <div class="blog-heading">
                <h2><a href="/blog/@blog.slug">@blog.title</a></h2><span class="grey-text">@formatTest(blog.createdOn)</span>
            </div>
            <div class="blog-body">
                @Html(stripBody(blog.body))...
                <div class="read-on">
                    <p><a href="/blog/@blog.slug">read more</a></p>
                </div>
            </div>
        </li>
    </ul>
   }
}