@(content: Html)
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>


    <div class="page-header header">
            <h1>Lindsey's Blog
            <small><i>like a wordpress site, but with less functionality</i></small></h1>
            </div>
     </div>
    <div class="row row-content">
            <div class="span10 main-content">
                <div class="more-content">
                    @content
                </div>
             </div>
            <div class="span4 side-bar">
                <h2>Lindsey</h2>
                <p>Web developer at The Guardian and general tech enthusiast</p>
                <p>Also developer of this blogging platform. I have also writen an api endpoint, so please do fix my styling woes
                <a href="/api/blogs">api</a></p>
            </div>

    </div>
</body
</html>  