@(content: Html)
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>

    <div class="navigation">
<!--           <a href="/blogs"><img class="icon" src="@routes.Assets.at("images/shoe-icon-bubble.png")"><a>  -->
            <a class="brand" href="/blogs">Lindsey's Blog</a>


     </div>

    <div class="row row-content">
            <div class="span9 offset2 main-content">
                <div class="more-content">
                    @content
                </div>
             </div>
            <div class="span3 side-bar align="center">
                <img class="avatar" src="@routes.Assets.at("images/cartoon-me.png")">
                <h2>Lindsey</h2>
                <p>Web developer, and creator of this blog.</p>
                <p>For those that find json easier to read, check out my
                <a href="/api/blogs">api</a></p>
            </div>

    </div>
</body
</html>  