@()(content: Html)






<div class="page-header header">

    <h1>Lindsey's Blog
        <small><i>like a wordpress site, but with less functionality</i></small></h1>
</div>
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
        </ul>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
       <div class="span8 main-content">
           @content
       </div>
       <div class="span3 side-bar">
           <h2>probably put a side bar here</h2>
       </div>
    </div>
</div>
